In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
os.path

In [3]:
dict_2017 = pd.read_excel('Data given by Lisa/Tract to zip code dictionaries/12_2017_Tract_zip_dictionary.xlsx')
dict_2018 = pd.read_excel('Data given by Lisa/Tract to zip code dictionaries/12_2018_Tract_zip_dictionary.xlsx')
dict_2019 = pd.read_excel('Data given by Lisa/Tract to zip code dictionaries/12_2019_Tract_zip_dictionary.xlsx')

In [4]:
d1 = dict_2017[['tract', 'Zip_1']].set_index(['tract'])
d2 = dict_2018[['tract', 'Zip_1']].set_index(['tract'])
d3 = dict_2019[['tract', 'Zip_1']].set_index(['tract'])

## Combine Age Data into one spreadsheet

In [5]:
age2534 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 25 to 34.xlsx',sheet_name='Age 25 to 34')
age3544 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 35-44.xlsx',sheet_name='Age 35 to 44')
age4554 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 45 to 54.xlsx',sheet_name='Age 45 to 54')
age5564 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 55 to 64.xlsx',sheet_name='Age 55 to 64')
age65 = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Estimated age 65 or older.xlsx', sheet_name='People age 65 or older')
agemed = pd.read_excel('Data given by Lisa/Census Tract Level/Age/Median Age.xlsx', sheet_name = 'Median Age')

In [6]:
age2534 = age2534.drop(index=range(74134,74145))
age3544 = age3544.drop(index=range(74134,74145))
age4554 = age4554.drop(index=range(74134,74145))
age5564 = age5564.drop(index=range(74134,74145))
agemed = agemed.drop(index=range(74134,74145))

In [7]:
def merger(*args):
    new = args[0]
    for i in range(len(args)-1):
        new = pd.merge(new,args[i+1],how = 'inner')
    return new
age = merger(age2534,age3544,age4554,age5564,agemed)

In [8]:
age

,Census Tract,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
0,01001020100,AL,1.001020e+09,1.001020e+09,10.04,12.32,16.59,16.07,40.0
1,01001020200,AL,1.001020e+09,1.001020e+09,14.30,14.64,17.31,10.90,39.0
2,01001020300,AL,1.001020e+09,1.001020e+09,20.43,10.67,11.13,10.30,37.0
3,01001020400,AL,1.001020e+09,1.001020e+09,10.86,9.81,14.80,13.29,43.0
4,01001020500,AL,1.001020e+09,1.001020e+09,15.62,14.43,13.95,10.71,37.0
...,...,...,...,...,...,...,...,...,...
74129,78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
74130,78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
74131,78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
74132,78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
74133,78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN,NaN

## We can use Census Tract as Index

In [9]:
age['Census Tract'].is_unique

True

In [10]:
age = age.set_index('Census Tract')

## Change data type(object to int)

In [11]:
age.index = age.index.astype('int64')

In [12]:
age.dtypes

State                                                               object
FIPS Code                                                          float64
Formatted FIPS                                                     float64
Estimated percent of all people age 25-34, between 2014-2018.      float64
Estimated percent of all people age 35-44, between 2014-2018.      float64
Estimated percent of all people age 45-54, between 2014-2018.      float64
Estimated percent of all people age 55-64, between 2014-2018.      float64
Estimated typical (median) age of all people between 2013-2017.    float64
dtype: object

In [13]:
age = age.sort_index()

In [14]:
age

,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
Census Tract,,,,,,,,
1001020100,AL,1.001020e+09,1.001020e+09,10.04,12.32,16.59,16.07,40.0
1001020200,AL,1.001020e+09,1.001020e+09,14.30,14.64,17.31,10.90,39.0
1001020300,AL,1.001020e+09,1.001020e+09,20.43,10.67,11.13,10.30,37.0
1001020400,AL,1.001020e+09,1.001020e+09,10.86,9.81,14.80,13.29,43.0
1001020500,AL,1.001020e+09,1.001020e+09,15.62,14.43,13.95,10.71,37.0
...,...,...,...,...,...,...,...,...
78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN,NaN

## Just use the newest dict

In [15]:
d3_temp = d3.reset_index()

In [16]:
d3_temp

             tract  Zip_1
0       1001020100  36067
1       1001020200  36067
2       1001020300  36067
3       1001020400  36066
4       1001020500  36067
...            ...    ...
73486  78030960800    802
73487  78030960900    802
73488  78030961000    802
73489  78030961100    802
73490  78030961200    802

[73491 rows x 2 columns]

In [17]:
d3_temp.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract')

,tract,Zip_1,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
0,1001020100,36067,AL,1.001020e+09,1.001020e+09,10.04,12.32,16.59,16.07,40.0
1,1001020200,36067,AL,1.001020e+09,1.001020e+09,14.30,14.64,17.31,10.90,39.0
2,1001020300,36067,AL,1.001020e+09,1.001020e+09,20.43,10.67,11.13,10.30,37.0
3,1001020400,36066,AL,1.001020e+09,1.001020e+09,10.86,9.81,14.80,13.29,43.0
4,1001020500,36067,AL,1.001020e+09,1.001020e+09,15.62,14.43,13.95,10.71,37.0
...,...,...,...,...,...,...,...,...,...,...
73486,78030960800,802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73487,78030960900,802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73488,78030961000,802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73489,78030961100,802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73490,78030961200,802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN

## Looks like there is some missing data (dict > Age Data)

In [18]:
d3_temp.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna()

,tract,Zip_1,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
0,1001020100,36067,AL,1.001020e+09,1.001020e+09,10.04,12.32,16.59,16.07,40.0
1,1001020200,36067,AL,1.001020e+09,1.001020e+09,14.30,14.64,17.31,10.90,39.0
2,1001020300,36067,AL,1.001020e+09,1.001020e+09,20.43,10.67,11.13,10.30,37.0
3,1001020400,36066,AL,1.001020e+09,1.001020e+09,10.86,9.81,14.80,13.29,43.0
4,1001020500,36067,AL,1.001020e+09,1.001020e+09,15.62,14.43,13.95,10.71,37.0
...,...,...,...,...,...,...,...,...,...,...
73462,72153750501,698,PR,7.215375e+10,7.215375e+10,13.04,13.22,10.77,12.01,38.0
73463,72153750502,698,PR,7.215375e+10,7.215375e+10,11.79,8.55,13.04,10.06,34.0
73464,72153750503,698,PR,7.215375e+10,7.215375e+10,14.66,11.50,10.96,10.92,38.0
73465,72153750601,698,PR,7.215375e+10,7.215375e+10,9.69,9.28,15.61,12.73,36.0
73466,72153750602,698,PR,7.215375e+10,7.215375e+10,13.94,12.43,19.28,12.62,47.0

## Reset index to zipcode

In [19]:
d3_temp.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('Zip_1').sort_index()

,tract,State,FIPS Code,Formatted FIPS,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
Zip_1,,,,,,,,,
601,72001956300,PR,7.200196e+10,7.200196e+10,10.52,9.32,17.69,14.66,43.0
601,72001956600,PR,7.200196e+10,7.200196e+10,15.24,7.17,13.70,13.65,39.0
601,72001956700,PR,7.200196e+10,7.200196e+10,11.87,13.57,11.24,11.96,39.0
601,72001956800,PR,7.200196e+10,7.200196e+10,13.19,15.66,9.67,13.06,38.0
602,72003430200,PR,7.200343e+10,7.200343e+10,13.68,12.41,11.92,14.43,38.0
...,...,...,...,...,...,...,...,...,...
99901,2130000200,AK,2.130000e+09,2.130000e+09,15.06,11.61,12.33,14.08,37.0
99919,2198000100,AK,2.198000e+09,2.198000e+09,11.87,11.95,14.58,17.64,44.0
99925,2198000200,AK,2.198000e+09,2.198000e+09,11.46,11.30,15.79,17.44,43.0
99926,2198940100,AK,2.198940e+09,2.198940e+09,13.70,9.66,13.21,12.97,33.0
99929,2275000300,AK,2.275000e+09,2.275000e+09,10.59,8.37,13.89,20.57,49.0

## For each index(Zip_1), we want the average of all the data belonging to this zipcode
 - we do not want unrelated columns to be averaged so just drop them.

In [20]:
df = d3_temp.merge(age, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('Zip_1').sort_index()

In [21]:
df.groupby(df.index).agg('mean').drop(['tract','FIPS Code', 'Formatted FIPS',],axis=1)

,"Estimated percent of all people age 25-34, between 2014-2018.","Estimated percent of all people age 35-44, between 2014-2018.","Estimated percent of all people age 45-54, between 2014-2018.","Estimated percent of all people age 55-64, between 2014-2018.",Estimated typical (median) age of all people between 2013-2017.
Zip_1,,,,,
601,12.705000,11.430000,13.075000,13.332500,39.750000
602,12.663333,12.723333,12.433333,15.350000,41.333333
603,12.490000,12.233846,12.126923,13.096923,41.153846
606,10.525000,13.880000,12.940000,15.040000,42.500000
610,11.512500,11.937500,12.387500,13.657500,43.250000
...,...,...,...,...,...
99901,13.277500,12.452500,14.022500,16.015000,39.500000
99919,11.870000,11.950000,14.580000,17.640000,44.000000
99925,11.460000,11.300000,15.790000,17.440000,43.000000
99926,13.700000,9.660000,13.210000,12.970000,33.000000
99929,10.590000,8.370000,13.890000,20.570000,49.000000