In [16]:
import pandas as pd
import os
import numpy as np

In [17]:
os.path

In [18]:
dict_2018 = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Tract to Zipcode/ZIP_TRACT_122018.xlsx')

In [19]:
d1 = dict_2018[['tract', 'zip']].set_index(['tract'])

## Combine spending Data into one spreadsheet

In [20]:
hhsize = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/HH Spending/Avg Household Size.xlsx',sheet_name="Avg Household Size")
rent = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/HH Spending/Estimated Median Gross Rent.xlsx',sheet_name='Median Gross Rent')
homeval = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/HH Spending/Estimated Median Home Value.xlsx',sheet_name='Median Home Value')
hhincome = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/HH Spending/Estimated Median Household Income.xlsx', sheet_name='Median Income of Household')
ownerburden = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/HH Spending/Estimated Median Owner Cost Burden.xlsx',sheet_name='Median Owner Cost Burden')
renterburden = pd.read_excel('/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/HH Spending/Estimated Median Renter Cost Burden.xlsx', sheet_name='Median Renter Cost Burden')

In [21]:
def merger(*args):
    new = args[0]
    for i in range(len(args)-1):
        new = pd.merge(new,args[i+1],how = 'inner')
    return new
spending = merger(hhsize,rent,homeval,hhincome,ownerburden,renterburden)

In [22]:
spending

,Census Tract,State,FIPS Code,Formatted FIPS,"Estimated average size of a household, between 2014-2018.","Estimated median gross rent, between 2014-2018.","Estimated median value of an owner-occupied home, between 2014-2018","Estimated median income of a household, between 2014-2018.","Estimated median owner cost burden, between 2014-2018.","Estimated median renter cost burden, between 2014-2018."
0,01001020100,AL,1.001020e+09,1.001020e+09,2.65,827.0,133300.0,58625.0,14.8,42.6
1,01001020200,AL,1.001020e+09,1.001020e+09,2.44,775.0,93100.0,43531.0,17.7,32.5
2,01001020300,AL,1.001020e+09,1.001020e+09,2.33,917.0,112400.0,51875.0,16.6,33.7
3,01001020400,AL,1.001020e+09,1.001020e+09,2.77,966.0,143100.0,54050.0,16.7,24.9
4,01001020500,AL,1.001020e+09,1.001020e+09,2.55,1208.0,178700.0,72417.0,14.1,31.0
...,...,...,...,...,...,...,...,...,...,...
78232,Indicator source: Census,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78233,http://www.policymap.com/our-data-directory.ht...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78234,"When using PolicyMap data in your work, please...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78235,https://www.policymap.com/terms/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78236,https://www.policymap.com/citing/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
spending = spending.dropna()

In [13]:
spending

,State,FIPS Code,Formatted FIPS,"Estimated average size of a household, between 2014-2018.","Estimated median gross rent, between 2014-2018.","Estimated median value of an owner-occupied home, between 2014-2018","Estimated median income of a household, between 2014-2018.","Estimated median owner cost burden, between 2014-2018.","Estimated median renter cost burden, between 2014-2018."
Census Tract,,,,,,,,,
01001020100,AL,1.001020e+09,1.001020e+09,2.65,827.0,133300.0,58625.0,14.8,42.6
01001020200,AL,1.001020e+09,1.001020e+09,2.44,775.0,93100.0,43531.0,17.7,32.5
01001020300,AL,1.001020e+09,1.001020e+09,2.33,917.0,112400.0,51875.0,16.6,33.7
01001020400,AL,1.001020e+09,1.001020e+09,2.77,966.0,143100.0,54050.0,16.7,24.9
01001020500,AL,1.001020e+09,1.001020e+09,2.55,1208.0,178700.0,72417.0,14.1,31.0
...,...,...,...,...,...,...,...,...,...
72153750300,PR,7.215375e+10,7.215375e+10,3.41,502.0,105300.0,25198.0,17.0,35.2
72153750400,PR,7.215375e+10,7.215375e+10,2.88,395.0,74800.0,12083.0,13.8,28.5
72153750501,PR,7.215375e+10,7.215375e+10,3.92,368.0,98100.0,20179.0,13.5,35.0
72153750502,PR,7.215375e+10,7.215375e+10,3.59,149.0,129900.0,22750.0,16.0,24.8
72153750503,PR,7.215375e+10,7.215375e+10,3.70,600.0,99600.0,18158.0,13.7,21.0

## We can use Census Tract as Index

In [14]:
spending['Census Tract'].is_unique

KeyError: 'Census Tract'

In [15]:
spending = spending.set_index('Census Tract')

KeyError: "None of ['Census Tract'] are in the columns"

## Change data type(object to int)

In [13]:
spending.index = spending.index.astype('int64')

TypeError: Cannot cast Index to dtype int64

In [14]:
spending.dtypes

State                                                                object
FIPS Code                                                           float64
Formatted FIPS                                                      float64
Estimated percent of people with a Bachelor's degree, between 20    float64
Estimated percent of people with a high school diploma and no co    float64
Estimated percent of people with less than a high school diploma    float64
Estimated percent of people with a post graduate degree between     float64
Estimated percent of people with some college or an Associate's     float64
dtype: object

In [15]:
education = education.sort_index()

In [16]:
education

,State,FIPS Code,Formatted FIPS,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
Census Tract,,,,,,,,
1001020100,AL,1.001020e+09,1.001020e+09,18.11,29.39,9.37,17.08,23.43
1001020200,AL,1.001020e+09,1.001020e+09,12.61,39.90,18.01,4.91,25.85
1001020300,AL,1.001020e+09,1.001020e+09,10.35,35.95,13.69,8.11,32.30
1001020400,AL,1.001020e+09,1.001020e+09,21.74,36.53,10.04,8.48,26.70
1001020500,AL,1.001020e+09,1.001020e+09,22.22,23.37,5.93,19.35,30.16
...,...,...,...,...,...,...,...,...
78030960900,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030961000,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030961100,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030961200,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
78030990000,VI,7.803099e+10,7.803099e+10,NaN,NaN,NaN,NaN,NaN

## Just use the newest dict

In [17]:
d1_temp = d1.reset_index()

In [18]:
d1_temp

             tract  Zip_1
0       1001020100  36067
1       1001020200  36067
2       1001020300  36067
3       1001020400  36066
4       1001020500  36067
...            ...    ...
73486  78030960800    802
73487  78030960900    802
73488  78030961000    802
73489  78030961100    802
73490  78030961200    802

[73491 rows x 2 columns]

In [19]:
d1_temp['Zip_1'] = d1_temp['Zip_1'].astype('str')

In [20]:
d1_temp['Zip_1']  = d1_temp['Zip_1'].apply(lambda x:('00'+x)[-5:] if len(x) <= 4 else x)

In [21]:
d1_temp

             tract  Zip_1
0       1001020100  36067
1       1001020200  36067
2       1001020300  36067
3       1001020400  36066
4       1001020500  36067
...            ...    ...
73486  78030960800  00802
73487  78030960900  00802
73488  78030961000  00802
73489  78030961100  00802
73490  78030961200  00802

[73491 rows x 2 columns]

In [22]:
d1_temp.merge(education, how = 'left', left_on = 'tract', right_on = 'Census Tract')

,tract,Zip_1,State,FIPS Code,Formatted FIPS,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
0,1001020100,36067,AL,1.001020e+09,1.001020e+09,18.11,29.39,9.37,17.08,23.43
1,1001020200,36067,AL,1.001020e+09,1.001020e+09,12.61,39.90,18.01,4.91,25.85
2,1001020300,36067,AL,1.001020e+09,1.001020e+09,10.35,35.95,13.69,8.11,32.30
3,1001020400,36066,AL,1.001020e+09,1.001020e+09,21.74,36.53,10.04,8.48,26.70
4,1001020500,36067,AL,1.001020e+09,1.001020e+09,22.22,23.37,5.93,19.35,30.16
...,...,...,...,...,...,...,...,...,...,...
73486,78030960800,00802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73487,78030960900,00802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73488,78030961000,00802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73489,78030961100,00802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN
73490,78030961200,00802,VI,7.803096e+10,7.803096e+10,NaN,NaN,NaN,NaN,NaN

## Looks like there is some missing data (dict > Education Data)

In [24]:
d1_temp.merge(education, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna()

,tract,Zip_1,State,FIPS Code,Formatted FIPS,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
0,1001020100,36067,AL,1.001020e+09,1.001020e+09,18.11,29.39,9.37,17.08,23.43
1,1001020200,36067,AL,1.001020e+09,1.001020e+09,12.61,39.90,18.01,4.91,25.85
2,1001020300,36067,AL,1.001020e+09,1.001020e+09,10.35,35.95,13.69,8.11,32.30
3,1001020400,36066,AL,1.001020e+09,1.001020e+09,21.74,36.53,10.04,8.48,26.70
4,1001020500,36067,AL,1.001020e+09,1.001020e+09,22.22,23.37,5.93,19.35,30.16
...,...,...,...,...,...,...,...,...,...,...
73462,72153750501,00698,PR,7.215375e+10,7.215375e+10,22.57,33.76,16.20,6.90,21.33
73463,72153750502,00698,PR,7.215375e+10,7.215375e+10,31.55,23.66,15.78,9.81,19.14
73464,72153750503,00698,PR,7.215375e+10,7.215375e+10,36.28,21.95,16.06,6.44,18.36
73465,72153750601,00698,PR,7.215375e+10,7.215375e+10,25.25,23.20,20.90,7.93,27.80
73466,72153750602,00698,PR,7.215375e+10,7.215375e+10,10.96,43.19,33.66,1.35,8.83

## Reset index to zipcode

In [25]:
d1_temp.merge(education, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('Zip_1').sort_index()

,tract,State,FIPS Code,Formatted FIPS,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
Zip_1,,,,,,,,,
00601,72001956300,PR,7.200196e+10,7.200196e+10,21.43,28.88,35.80,2.07,15.28
00601,72001956600,PR,7.200196e+10,7.200196e+10,9.70,26.27,34.71,5.49,22.77
00601,72001956700,PR,7.200196e+10,7.200196e+10,11.50,21.93,25.92,7.52,30.67
00601,72001956800,PR,7.200196e+10,7.200196e+10,12.76,27.40,30.17,3.91,25.33
00602,72003430200,PR,7.200343e+10,7.200343e+10,14.05,21.72,36.64,7.75,23.11
...,...,...,...,...,...,...,...,...,...
99901,2130000300,AK,2.130000e+09,2.130000e+09,13.37,33.07,11.89,7.01,33.71
99919,2198000100,AK,2.198000e+09,2.198000e+09,12.80,38.66,10.45,5.41,34.36
99925,2198000200,AK,2.198000e+09,2.198000e+09,12.34,38.13,10.67,8.00,30.96
99926,2198940100,AK,2.198940e+09,2.198940e+09,6.58,35.76,8.16,3.69,44.90
99929,2275000300,AK,2.275000e+09,2.275000e+09,14.03,36.62,11.04,6.57,32.90

## For each index(Zip_1), we want the average of all the data belonging to this zipcode
 - we do not want unrelated columns to be averaged so just drop them.

In [28]:
df = d1_temp.merge(education, how = 'left', left_on = 'tract', right_on = 'Census Tract').dropna().set_index('Zip_1').sort_index()

In [29]:
df = df.groupby(df.index).agg('mean').drop(['tract','FIPS Code', 'Formatted FIPS',],axis=1)

In [30]:
df

,"Estimated percent of people with a Bachelor's degree, between 20",Estimated percent of people with a high school diploma and no co,Estimated percent of people with less than a high school diploma,Estimated percent of people with a post graduate degree between,Estimated percent of people with some college or an Associate's
Zip_1,,,,,
00601,13.847500,26.120000,31.650000,4.747500,23.512500
00602,12.056667,25.850000,31.043333,6.553333,25.090000
00603,16.860769,26.656154,28.666154,6.710769,20.687692
00606,6.945000,35.005000,45.840000,2.165000,9.485000
00610,12.120000,33.122500,30.987500,3.532500,20.445000
...,...,...,...,...,...
99901,17.240000,30.465000,7.860000,8.052500,37.127500
99919,12.800000,38.660000,10.450000,5.410000,34.360000
99925,12.340000,38.130000,10.670000,8.000000,30.960000
99926,6.580000,35.760000,8.160000,3.690000,44.900000
99929,14.030000,36.620000,11.040000,6.570000,32.900000

In [31]:
df.to_excel(r'/Users/shinler/Documents/Columbia MSE/OpsCon/NN/Socio-Economic Data/Tables/Education.xlsx')